.i18n__app {
    width: 97%;
    display: block;
    position: relative;
    margin: 10px 0;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.2em;
}

.i18n__app a {
    text-decoration: none;
}

.app__menu {
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.app__menu li {
    display: inline-block;
}

.app__menu li a {
    color: #01142F;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    border: 1px solid #01142F;
    border-radius: 5px;
    text-decoration: none;
    transition: all .1s ease;
}

.app__menu li a.is-active,
.app__menu li a:hover {
    background-color: #01142F;
    color: #fff;
}

.app__container {
    display: block;
    padding: 10px 0;
}

.app__footer {
    display: block;
    text-align: center;
}

.app__footer img {
    vertical-align: middle;
}

.app__footer a {
    color: #0260E8;
}

.tabs__container {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
}

.tabs {
    width: 180px;
}

.tabs .tabs__button {
    padding: 10px;
    background-color: #F2F4F6;
    border: 1px solid #F1F6FB;
    color: #1A2026;
    cursor: pointer;
    transition: all .1s ease;
    border-radius: 5px;
    margin-bottom: 3px;
}

.tabs .tabs__button.is-active,
.tabs .tabs__button:hover {
    background-color: #01142F;
    color: #fff;
}

.tabs-pages {
    flex: 1;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.tabs-pages__page {
    padding: 0 10px;
    display: none;
}

.tabs-pages__page.is-active {
    display: block;
}

input.w-50p:focus,
input.w-50p:active,
input.w-50p {
    width: 48%;
    display: inline-block;
    padding: 2px 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
    border-radius: 0px;
    border: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #ddd;
    color: #01142F;
    box-shadow: 0 0 0 rgba(0,0,0,0);
}

.key-input-js,
.word-input-js {
    border: 1px solid #ddd !important;
}

.save-localization-button {
    background-color: #fff;
    border: 1px solid #35D073;
    color: #35D073;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    transition: all .1s ease;
}

.save-localization-button:hover,
.save-localization-button:focus,
.save-localization-button:active {
    color: #fff;
    background-color: #35D073;
}

.add-localization-button {
    background-color: #fff;
    border: 1px solid #1A2026;
    color: #1A2026;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    transition: all .1s ease;
}

.add-localization-button:hover,
.add-localization-button:focus,
.add-localization-button:active {
    color: #fff;
    background-color: #1A2026;
}